<li>
	{{name}}

	<button class="change-taste" data-id="{{id}}" data-newtaste="{{taste}}">
		{{#if taste}}Eat Me!{{else}}Eat Me Again!{{/if}}
	</button>

	<button class="delete-taco" data-id="{{this.id}}">DELETE!</button>
</li>
